<form class="k-d-flex k-flex-col k-gap-4" (submit)="onSubmit($event)">
  <ui-textbox
    [labelText]="'First Name'"
    [field]="signUpForm.firstName"
  />
  <ui-textbox
    [labelText]="'Last Name'"
    [field]="signUpForm.lastName"
  />
  <ui-textbox
    [type]="'password'"
    [labelText]="'Password'"
    [field]="signUpForm.password"
  />

  <ui-textbox
    [type]="'password'"
    [labelText]="'Confirm password'"
    [field]="signUpForm.confirmPassword"
  />

  <ui-button [disabled]="signUpForm().invalid()">Create Account</ui-button>

  <div>
    I already have an account. <a [routerLink]="['/auth', 'sign-in']">Sign In</a>
  </div>
</form>
