.custom-table {
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: $gap * 2;
  }
  .mat-mdc-table {
    thead {
      @include background-opacity($gray, 0.2);
    }

    .mdc-data-table__row {
      &:hover {
        .mat-mdc-cell {
          @include background-opacity($gray);
        }
      }
    }
  }

  .mdc-data-table__header-cell {
    border: none;
    vertical-align: top;
  }

  .mdc-data-table__cell {
    overflow: visible;
  }
}
