* {
  box-sizing: border-box;
}

a {
  color: var(--PC-100);
  text-decoration: none;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: var(--PC-190);
  }
}

.page-content {
  background-color: var(--BC-200);
}
