<app-page-layout>
  <app-page-header
    [title]="'User Management'"
    [subTitle]="'User - Single presentation'">
  </app-page-header>

  <app-card>
    <app-custom-table
      [hidden]="loading"
      [dataSource]="dataSource"
      [columns]="gridColumns"
      matSort
      #sort="matSort">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [ngClass]="'center'">Actions</th>
        <td mat-cell *matCellDef="let element" [ngClass]="'center'">
          <app-dropdown-menu></app-dropdown-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </app-custom-table>
  </app-card>
</app-page-layout>
