<form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <div class="form-field">
    <label class="form-field__label" for="email">Email</label>
    <input
      name="email"
      id="email"
      type="text"
      placeholder="Email"
      formControlName="email" />
    <ng-container *ngIf="form.controls.email as email">
      <app-input-error
        *ngIf="email.dirty"
        [errors]="email.errors"></app-input-error>
    </ng-container>
  </div>
  <div class="form-field">
    <label class="form-field__label" for="password">Password</label>
    <input
      name="password"
      id="password"
      type="password"
      placeholder="Password"
      formControlName="password" />
    <ng-container *ngIf="form.controls.password as password">
      <app-input-error
        *ngIf="password.dirty"
        [errors]="password.errors"></app-input-error>
    </ng-container>
  </div>
  <button class="btn" [disabled]="form.invalid || form.pending">Save</button>
  <p class="align-center m-0 fw-middle">
    Don't have account?
    <a class="auth-form__Link" [routerLink]="'/' + appRouteEnum.SignUp"
      >Signup now</a
    >
  </p>
</form>
