<form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <div class="form-field">
    <label class="form-field__label" for="email">Email</label>
    <input
      name="email"
      id="email"
      type="text"
      placeholder="Email"
      formControlName="email" />
    <ng-container *ngIf="form.controls.email as email">
      <div
        *ngIf="email.dirty && email.hasError('required')"
        class="input-error">
        This is field is required
      </div>
      <div *ngIf="email.dirty && email.hasError('email')" class="input-error">
        Email is not correct
      </div>
    </ng-container>
  </div>
  <div class="form-field">
    <label class="form-field__label" for="password">Password</label>
    <input
      name="password"
      id="password"
      type="password"
      placeholder="Password"
      formControlName="password" />
    <ng-container *ngIf="form.controls.password as password">
      <div
        *ngIf="password.dirty && password.hasError('required')"
        class="input-error">
        This is field is required
      </div>
      <div
        *ngIf="password.dirty && password.hasError('minlength')"
        class="input-error">
        The field must be at least
        <strong>{{ password.getError('minlength')['requiredLength'] }}</strong>
        characters
      </div>
    </ng-container>
  </div>
  <button class="btn" [disabled]="form.invalid || form.pending">Save</button>
  <p class="align-center m-0 fw-middle">
    Don't have account?
    <a class="auth-form__Link" [routerLink]="'/' + appRouteEnum.SignUp"
      >Signup now</a
    >
  </p>
</form>
