<form (submit)="onSubmit($event)">
  <p>{{signInForm().value() | json}}</p>
  <!--
  <p>{{signInForm.firstName().required() | json}}</p>
  <p>{{signInForm().value() | json}}</p>
  <p>{{signInForm.firstName().value() | json}}</p>
  <p>{{signInForm.firstName().errors().length | json}}</p>
  <p>{{signInForm.firstName().touched() | json}}</p>
  <p>invalid: {{signInForm.firstName().invalid() | json}}</p>
  <p>dirty: {{signInForm.firstName().dirty() | json}}</p>
  <p>touched11111222: {{signInForm.firstName().touched() | json}}</p>
  <p>touched11111222: {{signInForm.lastName().touched() | json}}</p>
  <hr>
  -->

  <ui-textbox
    [labelText]="'First Name'"
    [field]="signInForm.firstName"
  />
  <ui-textbox
    [labelText]="'Last Name'"
    [field]="signInForm.lastName"
  />

  <ui-check-box [labelText]="'Confirm'" [field]="signInForm.confirm" />

  <ui-button
    [themeColor]="'secondary'"
    [disabled]="signInForm().invalid()"
  >Sign In</ui-button>

  <div>Don't have an account? <a [routerLink]="['/auth', 'sign-up']">Sign Up</a></div>

  <ui-radiobutton [option]="'Confirm'" [field]="signInForm.answer" />
  <ui-radiobutton [option]="'Decline'" [field]="signInForm.answer" />

</form>
