:root {
  --color-app-surface: #f9fafb;
  --color-on-app-surface: #000;

  --color-primary: rgba(132,90,223, 1);
  --color-primary-hover: rgba(132,90,223, .9);
  --color-primary-active: rgba(132,90,223, .9);

  --color-secondary: rgb(73, 182, 245);
  --color-secondary-hover: rgb(73, 182, 245, .9);
}
