/* You can add global styles to this file, and also import other style files */

@use './abstracts' as *;
@use './themes' as *;
@use './core' as *;

@use "@progress/kendo-theme-material/scss/all" as * with (
  $kendo-colors: (
    app-surface: var(--color-app-surface),
    on-app-surface: var(--color-on-app-surface),
    surface-alt: yellow,

    primary: var(--color-primary),
    primary-hover: var(--color-primary-hover),
    primary-active: var(--color-primary-hover),

    secondary: var(--color-secondary),
    secondary-hover: var(--color-secondary-hover),
    secondary-active: var(--color-secondary-hover),
  ),
  $kendo-font-size: 0.8125rem,
  $kendo-line-height: 19.512px,

  // Button
  $kendo-button-md-padding-x: 0.75rem,
  $kendo-button-md-padding-y: 0.5rem,
  $kendo-outline-button-shadow: false,

  $kendo-button-shadow: none,
  $kendo-button-hover-shadow: none,
  $kendo-button-active-shadow: none,
  $kendo-button-selected-shadow: none,
);
@use "@progress/kendo-theme-utils/scss/all" as *;
