/* You can add global styles to this file, and also import other style files */

@use './abstracts' as *;
@use './themes' as *;
@use './core' as *;

@use "@progress/kendo-theme-material/scss/all" as * with (
  $kendo-colors: (
    app-surface: var(--BC-100),
    on-app-surface: var(--BC-900),
    surface-alt: yellow,

    primary: var(--PC-100),
    primary-hover: var(--PC-190),
    primary-active: var(--PC-190),

    secondary: var(--SC-100),
    secondary-hover: var(--SC-190),
    secondary-active: var(--SC-190),
  ),
  $kendo-font-size: 0.8125rem,
  $kendo-line-height: 19.512px,

  // Button
  $kendo-button-md-padding-x: 0.75rem,
  $kendo-button-md-padding-y: 0.5rem,
  $kendo-outline-button-shadow: false,

  $kendo-button-shadow: none,
  $kendo-button-hover-shadow: none,
  $kendo-button-active-shadow: none,
  $kendo-button-selected-shadow: none,
);

@use "@progress/kendo-theme-utils/scss/all" as *;
