<form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Registration</h1>
  <div class="form-field">
    <label class="form-field__label" for="email">Email</label>
    <input
      name="email"
      id="email"
      type="text"
      placeholder="Email"
      formControlName="email" />
    <ng-container *ngIf="form.controls.email as email">
      <app-input-error
        *ngIf="email.dirty"
        [errors]="email.errors"></app-input-error>
    </ng-container>
  </div>
  <div class="form-field">
    <label class="form-field__label" for="email">Username</label>
    <input
      name="username"
      id="username"
      type="text"
      placeholder="Username"
      formControlName="username" />
    <ng-container *ngIf="form.controls.username as username">
      <app-input-error
        *ngIf="username.dirty"
        [errors]="username.errors"></app-input-error>
      <div *ngIf="username.pending" class="input-info">pending...</div>
    </ng-container>
  </div>
  <div class="form-field">
    <label class="form-field__label" for="email">Name</label>
    <input
      name="name"
      id="name"
      type="text"
      placeholder="Name"
      formControlName="name" />
  </div>
  <div class="form-field">
    <label class="form-field__label" for="email">Surname</label>
    <input
      name="surname"
      id="surname"
      type="text"
      placeholder="Surname"
      formControlName="surname" />
  </div>
  <div class="form-field">
    <label class="form-field__label" for="bio">Bio</label>
    <input
      name="bio"
      id="bio"
      type="text"
      placeholder="Bio"
      formControlName="bio" />
  </div>
  <div class="form-field">
    <label class="form-field__label" for="password">Password</label>
    <input
      name="password"
      id="password"
      type="password"
      placeholder="Password"
      formControlName="password" />
    <ng-container *ngIf="form.controls.password as password">
      <app-input-error
        *ngIf="password.dirty"
        [errors]="password.errors"></app-input-error>
    </ng-container>
  </div>
  <button class="btn" [disabled]="form.invalid || form.pending">Save</button>
  <p class="align-center m-0 fw-middle">
    Already have account?
    <a class="auth-form__Link" [routerLink]="'/' + appRouteEnum.Login"
      >Login now</a
    >
  </p>
</form>
