<form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Registration</h1>
  <div class="form-field">
    <label class="form-field__label" for="email">Email</label>
    <input
      name="email"
      id="email"
      type="text"
      placeholder="Email"
      formControlName="email" />
    <ng-container *ngIf="form.controls.email as email">
      <div
        *ngIf="email.dirty && email.hasError('required')"
        class="input-error">
        This is field is required
      </div>
      <div *ngIf="email.dirty && email.hasError('email')" class="input-error">
        Email is not correct
      </div>
    </ng-container>
  </div>
  <div class="form-field">
    <label class="form-field__label" for="email">Username</label>
    <input
      name="username"
      id="username"
      type="text"
      placeholder="Username"
      formControlName="username" />
    <ng-container *ngIf="form.controls.username as username">
      <div
        *ngIf="username.dirty && username.hasError('required')"
        class="input-error">
        This is field is required
      </div>
      <div
        *ngIf="username.dirty && username.hasError('banWords')"
        class="input-error">
        The value
        <strong>{{ username.getError('banWords')['banWord'] }}</strong> is
        banned
      </div>
      <div
        *ngIf="username.dirty && username.hasError('uniqueNickname')"
        class="input-error">
        This Nickname is already taken
      </div>
      <div *ngIf="username.pending" class="input-info">pending...</div>
    </ng-container>
  </div>
  <div class="form-field">
    <label class="form-field__label" for="email">Name</label>
    <input
      name="name"
      id="name"
      type="text"
      placeholder="Name"
      formControlName="name" />
  </div>
  <div class="form-field">
    <label class="form-field__label" for="email">Surname</label>
    <input
      name="surname"
      id="surname"
      type="text"
      placeholder="Surname"
      formControlName="surname" />
  </div>
  <div class="form-field">
    <label class="form-field__label" for="bio">Bio</label>
    <input
      name="bio"
      id="bio"
      type="text"
      placeholder="Bio"
      formControlName="bio" />
  </div>
  <div class="form-field">
    <label class="form-field__label" for="password">Password</label>
    <input
      name="password"
      id="password"
      type="password"
      placeholder="Password"
      formControlName="password" />
    <ng-container *ngIf="form.controls.password as password">
      <div
        *ngIf="password.dirty && password.hasError('required')"
        class="input-error">
        This is field is required
      </div>
      <div
        *ngIf="password.dirty && password.hasError('minlength')"
        class="input-error">
        The field must be at least
        <strong>{{ password.getError('minlength')['requiredLength'] }}</strong>
        characters
      </div>
    </ng-container>
  </div>
  <button class="btn" [disabled]="form.invalid || form.pending">Save</button>
  <p class="align-center m-0 fw-middle">
    Already have account?
    <a class="auth-form__Link" [routerLink]="'/' + appRouteEnum.Login"
      >Login now</a
    >
  </p>
</form>
