:host {
  width: 240px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: width .1s ease, margin .1s ease-out;
  z-index: 999;
  background-color: var(--TC-100);
}

.sidebar-header {
  padding: 1rem;
  border-bottom: 1px solid var(--BC-110);
  text-align:center;
  font-size: 1.5rem;

  .logo {
    color: var(--BC-100);
  }
}

.sidebar {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0 .75rem;
  }

  a {
    display: block;
    padding: 0.75rem;
    border-radius: 4px;
    margin-block: 0.5rem;
    color: var(--BC-150);
    &:hover,
    &.active {
      background-color: var(--BC-105);
      color: var(--BC-100);
    }
  }
}
