:host {
  display: flex;
  align-items: center;
  height: 100%;
}

.auth-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 0.5rem;
}
