<div class="page-head">
  <h1>Components</h1>
</div>
<div class="k-row k-gap-4">
  <div>
    <p>The holographic principle, theorized to be a property of quantum gravity, postulates that the description. The holographic principle, theorized to be a property of quantum gravity, postulates that the description. The holographic principle, theorized to be a property of quantum gravity, postulates that the description. The holographic principle, theorized to be a property of quantum gravity, postulates that the description.</p>
  </div>
  <div class="k-col-size-100">
    <h3>Buttons:</h3>
    <div class="k-d-flex k-flex-wrap k-gap-2">
      <ui-button [themeColor]="'primary'">Change</ui-button>
      <ui-button [themeColor]="'secondary'">Secondary</ui-button>
      <ui-button [themeColor]="'tertiary'">Tertiary</ui-button>
      <ui-button [themeColor]="'info'">Info</ui-button>
      <ui-button [themeColor]="'success'">Success</ui-button>
      <ui-button [themeColor]="'warning'">Warning</ui-button>
      <ui-button [themeColor]="'error'">Error</ui-button>
      <ui-button [themeColor]="'dark'">Dark</ui-button>
      <ui-button [themeColor]="'light'">Light</ui-button>
      <ui-button [themeColor]="'inverse'">Inverse</ui-button>
      <ui-button [themeColor]="'none'">None</ui-button>
    </div>
  </div>
  <div class="k-col-size-100">
    222
  </div>
</div>
