@use './abstracts' as *;

.component-box {
  border: 1px solid var(--BC-200);
  border-radius: $border-radius-base;
  padding: 1rem;
  background-color: var(--BC-100);
}

.field-row {
  &__inline {
    display: flex;
    gap: 1rem;
  }
}
