<app-table-filter
  *ngIf="tableFilter"
  [confirmBtnText]="confirmBtnText"
  (filterValue)="applyFilter($event)"
  (addNewRow)="addNewRow.emit()">
</app-table-filter>

<div class="custom-table">
  <table
    matSort
    mat-table
    *ngIf="dataSource"
    [ngClass]="'w-100'"
    [dataSource]="dataSource"
  >
    <ng-content></ng-content>
    <ng-container
      *ngFor="let col of displayedColumns"
      [matColumnDef]="col.field">
      <ng-container *ngIf="col.sortable; else containerWithoutSort">
        <th
          mat-header-cell
          [ngClass]="col.align"
          [style.width.%]="col.width"
          *matHeaderCellDef
          [mat-sort-header]="col.field">
          {{ col.header }}
        </th>
      </ng-container>
      <ng-template #containerWithoutSort>
        <th
          mat-header-cell
          [ngClass]="col.align"
          [style.width.%]="col.width"
          *matHeaderCellDef>
          {{ col.header }}
        </th>
      </ng-template>
      <td
        mat-cell
        [ngClass]="col.align"
        *matCellDef="let element"
        [attr.data-label]="col.header">
        {{ element[col.field] }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsFiltered"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsFiltered"></tr>
  </table>
</div>
