<app-table-bar *ngIf="showTableBar" (searchText)="applyFilter($event)">
</app-table-bar>

<div class="custom-table">
  <table [ngClass]="'w-100'" mat-table [dataSource]="dataSource">
    <ng-content></ng-content>
    <ng-container
      *ngFor="let column of notCustomColumns"
      [matColumnDef]="column.field">
      <ng-container *ngIf="column.sortable; else containerWithoutSort">
        <th
          mat-header-cell
          *matHeaderCellDef
          [ngClass]="column.align"
          [style.width.%]="column.width"
          mat-sort-header>
          {{ column.header }}
        </th>
      </ng-container>
      <ng-template #containerWithoutSort>
        <th
          mat-header-cell
          *matHeaderCellDef
          [ngClass]="column.align"
          [style.width.%]="column.width">
          {{ column.header }}
        </th>
      </ng-template>
      <td mat-cell *matCellDef="let element">{{ element[column.field] }}</td>
    </ng-container>
  </table>
</div>
