<form #form="ngForm" class="table-filter">
  <div class="table-filter__search">
    <input
      class="field-search"
      name="search"
      type="text"
      placeholder="Email"
      [(ngModel)]="searchForm.search" />
    <button class="btn-search" (click)="onSearchSubmit(form)">
      <fa-icon [icon]="iconSearch"></fa-icon>
    </button>
  </div>
  <div class="actions-bar">
    <button class="btn" (click)="addNewRow.emit()">{{ confirmBtnText }}</button>
    <app-dropdown-menu
      class="ml-1"
      [extendClass]="'dropdown-menu-filter'"
      [toggleBtnText]="'Multi items action'"></app-dropdown-menu>
  </div>
</form>
