<table>
  <col style="width: 30%" />
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th class="center" scope="col">Session</th>
      <th class="center" scope="col">Last Activity</th>
      <th class="center" scope="col">Data Fail Activity</th>
      <th class="center" scope="col">Status</th>
      <th class="center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="User Name">test@gmail.com</td>
      <td class="center" data-label="Session">40</td>
      <td class="center" data-label="Last Activity">11/29/2023</td>
      <td class="center" data-label="Data Fail Activity">1</td>
      <td class="center" data-label="Status">
        <span class="badge active">Active</span>
      </td>
      <td class="center" data-label="Action">
        <app-dropdown-menu [items]="['Active', 'Inactive']"></app-dropdown-menu>
      </td>
    </tr>
    <tr class="active">
      <td data-label="User Name">dima@gmail.com</td>
      <td class="center" data-label="Session">89</td>
      <td class="center" data-label="Last Activity">11/11/2023</td>
      <td class="center" data-label="Data Fail Activity">3</td>
      <td class="center" data-label="Status">
        <span class="badge">Inactive</span>
      </td>
      <td class="center" data-label="Action">
        <app-dropdown-menu [items]="['Active', 'Inactive']"></app-dropdown-menu>
      </td>
    </tr>
    <tr>
      <td data-label="User Name">dima@gmail.com</td>
      <td class="center" data-label="Session">89</td>
      <td class="center" data-label="Last Activity">11/11/2023</td>
      <td class="center" data-label="Data Fail Activity">3</td>
      <td class="center" data-label="Status">
        <span class="badge">Inactive</span>
      </td>
      <td class="center" data-label="Action">
        <app-dropdown-menu [items]="['Active', 'Inactive']"></app-dropdown-menu>
      </td>
    </tr>
  </tbody>
</table>
