@import 'variables';

:host {
  display: block;
  margin: 0 (-$gap * 2);
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

tbody {
  tr {
    &.active,
    &:hover {
      background-color: #f8f8f8;
    }
  }
}

th,
td {
  text-align: left;
  padding: $gap * 2;
  &.center {
    text-align: center;
  }
}

.badge {
  padding: $gap / 2 $gap;
  background-color: rgba(128, 129, 145, 0.2);
  color: $gray;
  border-radius: $border-radius-base * 2;
  font-weight: $font-weight-middle;
  max-width: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  &.active {
    background-color: rgba(104, 205, 96, 0.2);
    color: $green;
  }
}

@media screen and (max-width: 1024px) {
  table {
    border: 0;
    .badge {
      margin: 0 0 0 auto;
    }
  }

  thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  th,
  td {
    &.center {
      text-align: right;
    }
  }

  td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    &:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
