@import 'variables';
@import 'mixins';
@import 'styles/normalize';
@import 'styles/animations';
@import 'components/table';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  font-weight: $font-weight-normal;
  margin: 0;
  background-color: $bg-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 $gap;
}
a,
a:not([href]) {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;
}

// Form
input,
button,
select {
  font-size: 1rem;
}
input:not([type='checkbox']),
input:not([type='radio']),
fieldset {
  width: 100%;
  padding: $gap;
  background-color: $bg-color-field-form;
  border-radius: $border-radius-base;
  border: 2px solid $border-field-form;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $bg-color-field-form inset;
}

.form-field__label {
  font-weight: $font-weight-middle;
}

.input-error {
  color: #e63131;
  font-size: 0.75rem;
  padding: $gap;
  animation-name: input-message-animation;
  animation-duration: 300ms;
}

.input-info {
  font-size: 0.75rem;
  padding: $gap;
  animation-name: input-message-animation;
  animation-duration: 300ms;
  color: #3155e6;
}

.ng-valid.ng-dirty:not([formGroupName]):not([formArrayName]):not(
    [ngModelGroup]
  ):not(form) {
  border-color: $border-field-form-valid;
}

.ng-invalid.ng-dirty:not([formArrayName]):not(form) {
  border-color: $border-field-form-invalid;
}

.btn {
  background-color: $bg-btn;
  border-radius: $border-radius-btn;
  border: 2px solid $bg-btn;
  color: $color-btn;
  font-weight: $font-weight-btn;
  padding: calc($gap - 1px) $gap;
  cursor: pointer;
  transition: all $transition-base;
  display: inline-block;
  &:hover {
    background-color: transparent;
    color: $color-btn-hover;
  }
  &:disabled {
    background-color: $bg-btn-disabled;
    border-color: $border-color-btn-disabled;
    color: $color-btn-disabled;
  }
  &.btn-white {
    background-color: $white;
    color: $turquoise;
    font-weight: $font-weight-bold;
    &:hover {
      background-color: $turquoise;
      color: $white;
      text-decoration: none;
    }
  }
}

.align-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.fw-middle {
  font-weight: $font-weight-middle;
}

.auth-form {
  background-color: $white;
  max-width: 400px;
  width: 100%;
  border-radius: $border-radius-base * 2;
  padding: $gap * 2;
  display: flex;
  flex-direction: column;
  row-gap: $gap * 2;
}

.auth-form__Link {
  font-weight: $font-weight-middle;
}

.badge {
  @include background-opacity($gray);
  color: $gray;
  padding: $gap / 2 $gap * 2;
  border-radius: $border-radius-base * 2;
  max-width: 100px;
  width: 100%;
  display: inline-block;
  text-align: center;
  &.active {
    @include background-opacity($green);
    color: $green;
  }
}
