@use 'abstracts' as *;

.navbar {
  font-size: $font-size-base;
  width: calc(100% - 240px);
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;

  position: fixed;
  left: 240px;
  top: 0;

}
